<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <add name="constr" connectionString="Data Source=localhost;Database=consultancy;User Id=root;password=;convert zero datetime=True"/>
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="55000" />
  </system.web>

  <appSettings>
    <add key="GalleryImgPath" value="~//admin//GalleryImage//"/>
    <add key="AdmissionImgPath" value="~//admin//AdmissionImage//"/>
    <add key="JobImgPath" value="~//admin//JobImage//"/>
    <add key="StuPhotoPath" value="~//admin//StudentPhotos//"/>
    <add key="10thMarksheetPath" value="~//admin//10thMarksheet//"/>
    <add key="12thMarksheetPath" value="~//admin//12thMarksheet//"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="FromEmail" value="carriermakersjk@gmail.com"/>
    <add key="Title" value="Carrier Makers Consultancy"/>
    <add key="Password" value="carriermakersjk123"/>
    <add key="AdminEmail" value="carriermakersjk@gmail.com"/>
  </appSettings>

  <!--<system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="5500"></requestLimits>
      </requestFiltering>
    </security>
  </system.webServer>-->


</configuration>
